/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background: #FFD8E9;
}

h1 {
  font-style: italic;
  color: #FF006E;
}

h2 {
  margin-top: 2em; 
  color: #FF3D91;
}

.question {
  display: flex;
  margin-top: 2em;
}
  
.answer-choice img {
  height: 10em;
}

#q1a1 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q1a2 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q1a3 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q1a4 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q2a1 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q2a2 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q2a3 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q2a4 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q3a1 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q3a2 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q3a3 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q3a4 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q4a1 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q4a2 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q4a3 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#q4a4 {
  Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#retake {
   Background-color: #FFFFFF;
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}